[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://archive.panda3d.org/branches/input-overhaul"
verify_ssl = true
name = "Panda3D"

[packages]
panda3d = {version = "==1.10.0.dev1761+inputoverhaul.79", index="Panda3D"}
cefpanda = {git = "https://github.com/Moguri/cefpanda.git", editable=true}
cefpython3 = "==66.0"
jsonschema = "*"
appdirs = "*"

[dev-packages]
pylint = "*"
pytest = "*"
pytest-runner = "*"
pytest-pylint = "*"

[requires]
python_version = "3.7"
