<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="vue.js"></script>
        <link rel="stylesheet" href="pure-min.css">
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <div id="app">
            <div id='card-bar' class="pure-g">
                <monster-card class="pure-u-1-3" :monster="state.player_monster" :range="state.range" :flip="false">
                </monster-card>
                <div id='timer' class="pure-u-1-3"><p>{{state.timer}}</p></div>
                <monster-card class="pure-u-1-3" :monster="state.opponent_monster" :range="state.range" :flip="true">
                </monster-card>
            </div>
        </div>
    </body>

    <script type="text/x-template" id="card-tmpl">
        <div class='monster-card pure-g'>
            <div v-if="flip" class='mc-range pure-u-1-3'>
                <range-indicator :monster="monster" :range="range" :flip="flip"></range-indicator>
            </div>
            <div class='mc-stats pure-u-2-3'>
                <progress class='progress-hp' :value='monster.hp_current' :max='monster.hp_max'></progress>
                <progress class='progress-ap' :value='monster.ap_current' :max='monster.ap_max'></progress>
                <div class="pure-g" v-for="ability in monster.abilities.slice(0,4)">
                    <span class="pure-u-1-6" v-bind:class="{'mc-disabled': !ability.usable}">
                        {{ability.input}}
                    </span>
                    <span class="pure-u-1-6" v-bind:class="{'mc-disabled': !ability.usable}">
                        {{ability.cost}}
                    </span>
                    <span class="pure-u-2-3" v-bind:class="{'mc-disabled': !ability.usable}">
                        {{ability.name}}
                    </span>
                </div>
                <div class="pure-g" v-for="i in Math.max(0, 4-monster.abilities.length)">
                    <span>&nbsp;</span>
                </div>
            </div>
            <div v-if="!flip" class='mc-range pure-u-1-3'>
                <range-indicator :monster="monster" :range="range" :flip="flip"></range-indicator>
            </div>
        </div>
    </script>

    <script type="text/x-template" id="range-ind-tmpl">
        <table>
            <br><br><br>
            <tr v-for="ability in monster.abilities.slice(0,4)">
                <td v-for="i in (flip) ? [0, 1, 2, 3] : [3, 2, 1, 0]"
                    v-bind:class="{'mc-range-valid': ability.range.includes(i), 'mc-range-active':i==range}">
                    &nbsp;
                </td>
            </tr>
            <tr v-for="i in Math.max(0, 4-monster.abilities.length)">
                <td v-for="n in 4">&nbsp;</td>
            </tr>
        </table>
    </script>

    <script>
        var data = {
            state: {
                player_monster: {
                    name: 'foo',
                    abilities: [
                        {name: 'stab', input: 'Q', range: [0, 1], cost: 15, usable: true},
                        {name: 'poke', input: 'W', range: [0], cost: 10, usable: true},
                        {name: 'jab', input: 'E', range: [0], cost: 10, usable: true},
                        {name: 'nuke', input: 'R', range: [3], cost: 25, usable: true},
                    ],
                    hp_current: 123,
                    hp_max: 304,
                    ap_current: 24,
                    ap_max: 100,
                },
                opponent_monster: {
                    name: '!foo',
                    abilities: [
                        {name: 'stab', input: 'Q', range: [0, 1], cost: 15, usable: true},
                        {name: 'poke', input: 'W', range: [0], cost: 10, usable: true},
                        {name: 'jab', input: 'E', range: [0], cost: 10, usable: true},
                        {name: 'nuke', input: 'R', range: [3], cost: 25, usable: false},
                    ],
                    hp_current: 70,
                    hp_max: 100,
                    ap_current: 66,
                    ap_max: 100,
                },
                range: Math.floor(Math.random() * 4),
                timer: 60,
            }
        };

        Vue.component('monster-card', {
            props: ['monster', 'range', 'flip'],
            template: '#card-tmpl'
        });
        Vue.component('range-indicator', {
            props: ['monster', 'range', 'flip'],
            template: '#range-ind-tmpl'
        });
        var app = new Vue({
            el: '#app',
            data: data
        });

        var update_state = function(new_state) {
            data.state = Object.assign({}, data.state, new_state)
        }
    </script>
</html>
