#app {
    padding: 1em;
    box-sizing: border-box;
    width: 100%;
}

#nav {
    height: 50%;
    width: 20%;
}

#message-bar {
    position: fixed;
    bottom: 0;
    width: 60%;
    height: 5em;
    margin: 1em 20%;
    padding: 0.5em;
    background-color: #ccc;
    border-radius: 0.2em;
}
