.breed-list {
    height: 100%;
}

.breed-info {
    height: 100%;
}

.breed-view {
    height: 66%;
}

.breed-stats {
    height: 34%;
    padding: 0.5em;
    margin: 0.1em;
    box-sizing: border-box;
    background-color: #ccc;
    border-radius: 0.2em;
}
