<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="vue.js"></script>
        <link rel="stylesheet" href="pure-min.css">
        <link rel="stylesheet" href="common.css">
        <link rel="stylesheet" href="combat.css">
    </head>

    <body>
        <div id="app">
            <div id='nav' v-if='state.show_menu' class='pure-menu'>
                <span class='custom-menu-heading pure-menu-heading'>{{state.menu_heading}}</span>
                <ul class='pure-menu-list'>
                    <li v-for='(item, idx) in state.menu_items' class='custom-menu-item pure-menu-item'
                        v-bind:class="{'pure-menu-selected': idx == state.selection_index}">
                        <a href='#' class='pure-menu-link'>{{item}}</a>
                    </li>
                </ul>
            </div>

            <div id='results' v-if='state.results' class='pure-menu'>
                <p>Results:</p>
                <ul>
                    <li v-for='result in state.results'>{{result}}</a>
                </ul>
            </div>

            <div id='message-bar' v-if='state.message != ""'>
                <span>{{state.message}}</span>
                <span class='modal-indicator' v-if='state.message_modal'>&#x25bc;</span>
            </div>

            <div id='stats' v-if='state.monster.name' class='pure-menu'>
                <p>{{state.monster.name}}</p>
                <span>HP:</span>
                <progress
                    id='health-bar'
                    :value='state.monster.hp_current'
                    :max='state.monster.hp_max'
                >
                </progress>
                <span>{{state.monster.hp_current}}/{{state.monster.hp_max}}</span><br>

                <span>CT:</span>
                <progress
                    id='ct-bar'
                    :value='state.monster.ct_current'
                    :max='state.monster.ct_max'
                >
                </progress>
                <span>{{state.monster.ct_current}}/{{state.monster.ct_max}}</span>
            </div>
        </div>
    </body>

    <script src='common.js'></script>
    <script>
        setup_ui({
            monster: {
                name: 'Foo',
                hp_current: 35,
                hp_max: 100
            }
        });
    </script>
</html>
