#app {
    padding: 1em;
    box-sizing: border-box;
    width: 100%;
}

#nav {
    width: 20%;
    min-width: 250px;
}

#message-bar {
    position: fixed;
    bottom: 0;
    width: 60%;
    height: 5em;
    margin: 1em 20%;
    padding: 0.5em;
    background-color: #ccc;
    border-radius: 0.2em;
}

.modal-indicator {
    animation: blinker 1.25s linear infinite;
    font-size: 2em;
    position: fixed;
    bottom: 0;
    left: 50%;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
