#message-bar {
    top: 0;
    bottom: auto;
    height: auto;
}

#stats {
    position: fixed;
    right: 1em;
    bottom: 1em;
    width: 33%;
    padding: 0.5em;
}

progress {
    -webkit-appearance: none;
}

#health-bar::-webkit-progress-value {
    background-color: #c00;
}
