@font-face {
    font-family: BalooThambi2;
    src: url('fonts/BalooThambi2-Medium.ttf');
}

html,
body,
#app {
    width: 100%;
    font-size: calc(0.75em + 1vmin);
    font-family: "BalooThambi2", sans-serif;
}

.pure-g > div {
    box-sizing: border-box;
}

.pure-menu {
    margin: 0.1em;
    box-sizing: border-box;
    background-color: #ccc;
    border-radius: 0.2em;
}

.custom-menu-heading {
    color: black;
    text-align: center;
}

.custom-menu-item {
    color: grey;
}

.pure-menu-selected {
    background-color: #5dade2;
}

.selection-locked {
    background-color: #ff8080;
}

#nav {
    position: fixed;
    top: 1em;
    left: 1em;
    width: 20%;
    min-width: 250px;
}

#message-bar {
    position: fixed;
    bottom: 0;
    width: 60%;
    height: 5em;
    margin: 1em 20%;
    padding: 0.5em;
    background-color: #ccc;
    border-radius: 0.2em;
}

.modal-indicator {
    animation: blinker 1.25s linear infinite;
    font-size: 2em;
    position: fixed;
    bottom: 0;
    left: 50%;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
