<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="vue.js"></script>
        <link rel="stylesheet" href="pure-min.css">
        <link rel="stylesheet" href="common.css">
    </head>

    <body>
        <div id="app">
            <div id='nav' v-if='!state.show_stats' class='pure-menu'>
                <span class='custom-menu-heading pure-menu-heading'>{{state.menu_heading}}</span>
                <ul class='pure-menu-list'>
                    <li v-for='(item, idx) in state.menu_items' class='custom-menu-item pure-menu-item'
                        v-bind:class="{'pure-menu-selected': idx == state.selection_index}">
                        <a href='#' class='pure-menu-link'>{{item}}</a>
                    </li>
                </ul>
            </div>

            <div id='monster-stats' v-if='state.show_stats'>
                <p>Name: {{state.monster.name}}</p>
                <p>Breed: {{state.monster.breed}}</p>
                <p>Job: {{state.monster.job}}</p>
                <p>HP: {{state.monster.hit_points}}</p>
                <p>Phys. Attack: {{state.monster.physical_attack}}</p>
                <p>Mag. Attack: {{state.monster.magical_attack}}</p>
                <p>Defense: {{state.monster.defense}}</p>
                <p>Evasion: {{state.monster.evasion}}</p>
                <p>Accuracy: {{state.monster.accuracy}}</p>
            </div>

            <div id='message-bar' v-if='state.message != ""'>
                <span>{{state.message}}</span>
                <span class='modal-indicator' v-if='state.message_modal'>&#x25bc;</span>
            </div>
        </div>
    </body>

    <script>
        var data = {
            state: {
                menu_heading: 'Select a Breed',
                menu_items: [
                    'Combat',
                    'Train',
                    'Save',
                ],
                selection_index: 0,
                message: "",
                message_modal: false,
                show_stats: false,
                monster: {
                    name: 'Foo',
                    breed: 'Bar',
                    job: '',
                    hit_points:100,
                    ability_points:100,
                    physical_attack:100,
                    magical_attack:100,
                    accuracy:100,
                    evasion:100,
                    defense:100,
                }
            }
        };

        var app = new Vue({
            el: '#app',
            data: data
        });

        var update_state = function(new_state) {
            data.state = Object.assign({}, data.state, new_state)
        }
    </script>
</html>
