#title {
    width: 6em;
    margin: 0 auto;
    text-align: center;
    font-size: 4em;
    border-bottom: 2px solid #999;
    -webkit-text-stroke: 0.02em #999;
}

#saves {
    width: 66%;
    margin: auto;
}

#saves > ul {
    padding: 0;
}

#saves > ul > li {
    list-style: none;
    padding: 0.5em;
    background-color: #ccc;
    border-radius: 0.2em;
    margin-bottom: 1em;
}

.save-selected {
    width: 105%;
    margin-left: -2.5%;
}
