#title {
    width: 6em;
    margin: 0 auto;
    text-align: center;
    font-size: 4em;
    border-bottom: 2px solid #999;
    -webkit-text-stroke: 0.02em #999;
}

#title-nav {
    position: fixed;
    bottom: 2em;
    padding: 0.2em;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
